nav{
    text-align: center;
    padding-top: 15px;
}
.link{
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    color: darkblue;
}
.link:hover{
    color:black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    font-size: 18px;
    background-color: #37cfc8;
    body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 75%;
}

.form {
    background: #fff;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.form__input {
    min-height: 25px;
    padding: 10px;
    width: 100%;
    border: 1px solid;
}

.form__btn {
    background: #0b96e6;
    border: none;
    cursor: pointer;
    width: 100px;
}

.todo-item {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.todo-item--checked {
    text-decoration: line-through;
}
.todo-item__description {
    flex-grow: 1;
    padding-left: 10px;
}
.todo-item__delete {
    background: #0a968f;
    border: none;
    cursor: pointer;
    width: 95px;
    padding: 10px;
}
.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 1rem;
}

.contact-link {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    position: relative;
}